<h2>Bienvenue sur Search</h2>

<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero reprehenderit voluptatem, exercitationem aliquam
    dolore vel autem? Ratione soluta, inventore, amet illo ad, dolorem minima est ipsum cum reiciendis impedit placeat!
</div>

<form action="" method="post">
    <input type="text" name="champs" id='champs' />
    <select name="year" id="year">
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
    </select>
    <select name="tri" id="tri">
        <option value="date_start">date croissante</option>
        <option value="-date_start">date décroissante</option>
        <option value="title">titre</option>
    </select>

    <button id="button">envoyer</button>
</form>
<div id="zoneResultat"></div>

<template id="blockResultat">
    <div>
        <h3></h3>
        <img src="" width="250">
        <p></p>
    </div>
</template>